
<body>
    <div class="container">
            <header class="mainHeader">
                    <nav class="MainNav">
                            <button id="button"></button>
    
                     <div id="burgerCon">
                     <ul id="burgerMenu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                    </ul>
                    </div>
                    </nav>
                    <!-- <div class="logo">
                            <img src="public/images/portfolio_metallic.svg" alt="logo">
                        </div> -->
                <h2>HELLO</h2>
                <h3>REQUEST PROPOSAL</h3>
                </header>
            
                <section class="content">
                        <h2>WHAT TO EXPECT FROM ME</h2>
                        <div class="flex">
                            <div class="info">
                                <h3>3D MODELING</h3>
                                <p class="text">Learning 3D modeling was on of the coolest stuff that I learned in my life. Making objects in 3D is a heart warming experience even though its little time consuming. I've studied 3D Modeling from my 3rd semester of Interactive Media Design class in Fanshawe College.</p>
                            </div>
                
                            <div class="info">
                                <h3>GRAPHIC DESIGNING</h3>
                                <p class="text">This is one of the stuffs that I started to do from my younger ages. Created art works for five different companies. Studied Interactive Media design in Fanshawe College</p>
                            </div>
                        </div>

                        <div class="flex2">
                            <div class="info">
                                <h3>FRONT-END WEB DESIGNING</h3>
                                <p class="text">Front-End Web Designing is something that I learned through Interactive Media Design course. Even though I am new at this, I will be able to shine like a diamond.</p>
                            </div>
        
                            <div class="info">
                                <h3>CODING/ BACK-END</h3>
                                <p class="text">Coding/ Back-End is the one and only part I find difficult to keep up. Learned PHP, JavaScript, Python, Java and C++. On the scale of one to ten.....ahh, its for you to decide.</p>
                            </div>
                        </div>
                </section>

                <section class="content-two">
                    <div class="info-two">
                        <h2>VIEW MY RESUME</h2>
                        <!-- <img src="images/resume_bg.jpg" alt="resume"> -->
                        <a href="#">View More</a>
                    </div>
                </section>

                <section id="mainContact"> 
                        <h2>HIRE ME</h2>
                <section id="contactArea">
                    <div id="contactStyle">
                    <form id="contactForm" action="form.php" method="post">
                            <label class="tags" for="name">NAME:</label>
                            <input type="text" required id="name" name="fullName" size="30" placeholder="Enter your name">
                            
                            <label class="tags" for="email">E-MAIL:</label>
                            <input type="text" required id="email" size="30" placeholder="Enter your Email">
        
                              <br>
                            
                            <label for="comment">MESSAGE: </label>
                            <textarea name="comments" id="comment" required cols="50" rows="8"></textarea>
                            
                            <!-- <label for="human">Enter Code Below: (required)</label>
                            <input type="text" required id="human" size="30" placeholder="CapTcHA"> -->
                           
                            <input id="submit" type="submit" value="Submit">
                    </form>
                </div>
            </section>
            </section>

            <footer id="footerCon">
                <div class="container">
                  <nav>
                    <a href="something" class="button2">Button</a>
                    <a href="something" class="button2">Very pretentious long button</a>
                     <ul id="footerNav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                      </ul>
                  </nav>
                  <div class="copyright">
                      <p>&copy; 2019 TRAA</p>
                  </div>
                </div>
              </footer>
         
    </div>
    <script src="js/main.js"></script>
</body>
</html>